<h2 mat-dialog-title class="title">{{this.data.confirmMessage}}</h2>
<div class="actions">
    <button mat-raised-button (click)="close(false)">Cancel</button>
    <button mat-raised-button color="primary" (click)="close(true)">Confirm</button>
</div>