<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="currentUser">
      <div *ngIf="editComment===false">
        <button mat-icon-button color="primary" (click)="ToggleEditComment()"
          *ngIf="currentUser.id===comment.author.id">
          <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Edit">mode_edit
          </mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="DeleteComment()" *ngIf="currentUser.id===comment.author.id">
          <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Delete">delete
          </mat-icon>
        </button>
      </div>
      <div *ngIf="editComment===true">
        <button mat-icon-button color="primary" (click)="ToggleEditComment()"
          *ngIf="currentUser.id===comment.author.id">
          <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Edit">close
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <div *ngIf="editComment===false; else editmodeComment">
    <mat-card-content>
      <p>{{comment.body}}</p>
    </mat-card-content>
  </div>
  <ng-template #editmodeComment>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="comment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
  </ng-template>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()" matTooltip="{{wholiked}}" matTooltipClass="tooltip"
      [matTooltipPosition]="'above'" (mouseover)="WhoLiked()">
      <mat-icon matBadge="{{GetLikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="GetLikes() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()">
      <mat-icon matBadge="{{GetDisLikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="GetDisLikes() === 0" aria-label="DisLike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>