<h2 mat-dialog-title class="title">Please provide an email to share post with</h2>
<div mat-dialog-content>
  <form name="shareForm" #shareForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="shareEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" [email]="true"
        required="true" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary" (click)="share()" [disabled]="shareForm.invalid">Share</button>
</div>