<mat-card class="main-content align-center">
  <h2>Please enter a new password</h2>
  <form name="userForm" #userForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="rpassword" [(ngModel)]="this.password" matInput placeholder="Password" [type]="'password'"
        #inpassword="ngModel" required="true" />
    </mat-form-field>
    <mat-form-field>
      <input name="rconfirm" [(ngModel)]="this.confirm" matInput placeholder="Confirm Password" [type]="'password'"
        #inconfirm="ngModel" required="true" />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="saveNewInfo()">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>