.avatar-style
    height: 200px
    width: 200px    
    opacity: 1
    display: block
    transition: .5s ease
    backface-visibility: hidden

.main-content
    display: flex
    justify-content: center
    flex-direction: column
    width: 100%
    margin: 10px 0    
    position: relative

.align-center
    align-items: center

.buttons
    display: flex
    width: 100%
    justify-content: space-around
    button
        width: 100px
