<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="currentUser">
      <div *ngIf="editPost===false">
        <button mat-icon-button color="primary" (click)="ToggleEditPost()" *ngIf="currentUser.id===post.author.id">
          <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Edit">mode_edit
          </mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="DeletePost()" *ngIf="currentUser.id===post.author.id">
          <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Delete">delete
          </mat-icon>
        </button>
      </div>
      <div *ngIf="editPost===true">
        <button mat-icon-button color="primary" (click)="ToggleEditPost()" *ngIf="currentUser.id===post.author.id">
          <mat-icon matBadgeColor="accent" matBadgeSize="medium" aria-label="Edit">close
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <div *ngIf="editPost===false; else editmodePost">
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="likePost()" matTooltip="{{wholiked}}" matTooltipClass="tooltip"
        [matTooltipPosition]="'above'" (mouseover)="WhoLiked()">
        <mat-icon matBadge="{{GetLikes()}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="GetLikes() === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="dislikePost()">
        <mat-icon matBadge="{{GetDisLikes()}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="GetDisLikes() === 0" aria-label="DisLike">thumb_down</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share" (click)="sharePost()">share</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)=" toggleComments()">
        <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
          [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
      </button>
    </mat-card-actions>
    <div *ngIf="showComments">
      <mat-divider></mat-divider>
      <div class="new-comment">
        <mat-form-field>
          <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <div *ngIf="post.comments.length > 0" class="comments-count">
        Just {{post.comments.length}} in all
      </div>
      <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser">
      </app-comment>
    </div>
  </div>
  <ng-template #editmodePost>
    <mat-card class="post-create-container">
      <mat-card-content>
        <mat-form-field>
          <textarea [(ngModel)]="post.body" matInput placeholder="Write something..."></textarea>
        </mat-form-field>
        <div class="image-container">
          <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
          <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
        <button mat-icon-button color="accent" (click)="file.click()">
          <mat-icon aria-label="Choose an image">image</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Post it" (click)="sendPost()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</mat-card>